body {
    background-image: url("../images/63698569_9499572.jpg");
    background-size: cover;
}
.header{
    padding: 60px;
    text-align: center;
    color: blanchedalmond;
    font-size: 30px;
}

.container {
    display: flexbox;
    align-items: center;
    gap: 10px;
}


.box p{
  text-align: center;
}
.box img{
    display: flex;
    background-size: cover;
    border: 5px solid black;
    margin: auto;
    width: 40%;
    height: 40%;
}

.text {
    display: inline-block;
    font-size: 20px;
    padding-left: 20px;
    /* float: left; */
    flex: 1;
    /* width: fit-content; */
    overflow-wrap: break-word;
  }
  
.nav-bar {
    overflow: hidden;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 98%;
    justify-content: space-between;
    background-color: #458be7;
    padding: 10px 20px;
  }

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    color: azure;
  }