body {
    margin: auto;
    background-image: url("Img-background/63698569_9499572.jpg");
    background-size: cover;
}
.header{
    padding: 60px;
    text-align: center;
    color: rgb(225, 194, 147);
    font-size: 30px;
}

.container {
    display: flexbox;
    align-items: center;
    gap: 10px;
}


.box p{
  display: inline-block;
  font-size: 20px;
  padding-left: 20px;
  text-align: center;
  inline-size: auto;
  overflow-wrap: break-word;
}

.box img{
    display: flex;
    background-size: cover;
    border: 5px solid black;
    margin: auto;
    width: 40%;
    height: 40%;
}

  .topnav {
    overflow: hidden;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 98%;
    justify-content: space-between;
    background-color: #458be7;
    padding: 10px 20px;
    height: 7%;
  }

  .topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover{
    background-color: #ddd;
    color: black;
  } 

  .topnav a.active {
    background-color: gray;
    color: white;
  }

  .topnav img{ 
    width: 5%;
    height: 5%;
    float: inline-start;
  }

  .topnav-centered a {
  float: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  #b1, #b2{
    border-radius: 8px;
    font-size: 15px;
    background-color: #ddd;
    padding: 12px 18px;
  }

  footer {
    margin: auto;
    width: 100%;
    padding: 1px;
    background-color: #458be7;
    text-align: center;
    display: block;
    bottom: 0;
  }